header{
    height: 15vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20vw;
    border-bottom: 1px solid white;
}

.logo img{
    height: 40px;
    width: 40px;
    
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}

main{
    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}

.services{
    height: 40vh;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.892);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.card{
    height: 250px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    border-radius: 10px;
}